@using ParkManagerWeb.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-secondary" style="width: 280px">
    <a href="/" class="d-flex flex-column justify-content-center text-center fs-4 fw-bold nav-link">
        Gestion de parc </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink href="/" class="nav-link d-flex flex-row align-items-center" Match="NavLinkMatch.All">
                <i class="bi bi-house" style="font-size: 1.2em;"></i>
                <div class="ms-2">
                    Tableau de bord
                </div>
            </NavLink>
        </li>
        <hr/>
        <li>
            <NavLink href="/devices" class="nav-link d-flex flex-row align-items-center" Match="NavLinkMatch.Prefix">
                <i class="bi bi-pc-display" style="font-size: 1.2em;"></i>
                <div class="ms-2">
                    Postes de travail
                </div>
            </NavLink>
        </li>
        <li>
            <NavLink href="/parks" class="nav-link d-flex flex-row align-items-center" Match="NavLinkMatch.Prefix">
                <i class="bi bi-geo-alt" style="font-size: 1.2em;"></i>
                <div class="ms-2">Parcs</div>
            </NavLink>
        </li>
        <li>
            <NavLink href="/rooms" class="nav-link d-flex flex-row align-items-center" Match="NavLinkMatch.Prefix">
                <i class="bi bi-door-open" style="font-size: 1.2em;"></i>
                <div class="ms-2">Salles</div>
            </NavLink>
        </li>
        <hr>
        <li>
            <NavLink href="/incidents" class="nav-link d-flex flex-row align-items-center" Match="NavLinkMatch.Prefix">
                <i class="bi bi-bug" style="font-size: 1.2em;"></i>
                <div class="ms-2">Incidents</div>
            </NavLink>
        </li>
    </ul>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/goncalvesethan.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>goncalvesethan</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li>
                <a class="dropdown-item" href="/users">Utilisateurs</a>
            </li>
            <li>
                <a class="dropdown-item" @onclick="Logout">Se déconnecter</a>
            </li>
        </ul>
    </div>
</div>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/login", true);
    }
}